/build
/build.txt
/combine.py
/convertToWebP copy.py
/convertToWebP-backup-7-23-23.py
/convertToWebP.spec
/convertToWebPBackup.py
/convertToWebPBackup2.py
/dist/oldVersions
/oldVersions
/convertToWebP-7-23-23.spec
/.DS_Store
**/__pycache__
__pycache__/imageConverter.cpython-310.pyc
__pycache__/pdfToImage.cpython-310.pyc
__pycache__/VideoConverterGUI.cpython-310.pyc
/dist/