/build
/build.txt
/combine.py
/convertToWebP copy.py
/convertToWebP-backup-7-23-23.py
/convertToWebP.spec
/convertToWebPBackup.py
/convertToWebPBackup2.py
/dist/oldVersions
/oldVersions
/convertToWebP-7-23-23.spec